<h2>List o products</h2>

<div class='table-responsive'>
    <table id='myTable' class='table table-striped table-bordered'>
        <tr>
            <th>Product name</th>
            <th>Product index</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.index }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{#{{ pagerfanta(pager) }}#}