{% extends 'base.html.twig' %}

{% block title %}Import CSV File{% endblock %}

{% block body %}
    <div id="wrap">
{#        <div class="col-md-4">#}
            <a href="{{ path('app_login') }}"  class="btn btn-primary button-loading"
            >Log out
            </a>
{#        </div>#}
        <div class="container">
            <div class="row">
                <form class="form-horizontal" action="{{ path('app_import_data') }}" method="post" name="upload_csv"
                      enctype="multipart/form-data">
                    <fieldset>

                        <legend>Import CSV File</legend>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="filebutton">Select File</label>
                            <div class="col-md-4">
                                <input type="file" name="file" id="file" class="input-large">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton">Import data</label>
                            <div class="col-md-4">
                                <button type="submit" id="submit" name="Import" class="btn btn-primary button-loading"
                                        data-loading-text="Loading...">Import
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            {% include 'importData/_productTable.html.twig' %}
        </div>
    </div>
{% endblock %}
